
@{
    ViewBag.Title = "Yeniders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Ders Adı</label>
        <input type="text" class="form-control" name="DERSAD"/>
    </div>
    <div style="margin-top:10px" >
        <button class="btn bg-info">Ders Ekle</button>

    </div>
</form>
